.my-fav{
    color: #fff;
    font-size: 1.2rem;
    padding-top:7px;

}
#header{
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 15px auto;
}
.fab-btn{
    padding: 6px 12px;
    background-color: rgb(235, 235, 110);
    font-size: 1rem;
    border-radius: 5px;
    color: black;
    font-weight: 600;
    border: 1px solid yellow;
    cursor: pointer;
}
.fab-btn:hover{
    background-color: aqua;
    border: 1px solid aqua;
}
#header span{
    /* color: #fff; */
    color: aqua;
    font-size: 1.3rem;
}

/* movies element cart  */
#list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie-details{
    margin: 20px;
    border-radius: 20px;
    background-color: rgb(88, 76, 33);
}
/* movie image  */
#movieimg{
    border-radius: 20px;
    height: 420px;
    width: 310px;
}
#details{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.title{
    max-width: 200px;
}
.title a{
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}
/* remove movie icon  */
#removeicon{
    font-size: 1.6rem;
    color: red;
    cursor: pointer;
}
